<!DOCTYPE html>
<html>

<head>

    <title>DI-Dash</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />



</head>




<body>
  

    <form action="/user/create-first-admin" method="post">
        <input type="text" name="email" placeholder="Admin's Email Address">
        <br>
        <br>
        <button type="submit">Create Admin User</button>
    </form>



</body>

</html>