<md-dialog class="login-modal"> 
  <div layout="column" class="login-modal-inner md-whiteframe-z1">
    <md-toolbar>
      <h2 class="md-toolbar-tools">Login</h2>
    </md-toolbar>
    <md-content layout="column" class="md-padding">

        <form ng-submit="login(userCreds)">
          <div>
            <md-input-container>
              <label>Email Address</label>
              <input type="email" ng-model="userCreds.username" required/>
            </md-input-container>
          </div>
          <div>
            <md-input-container>
              <label>Password</label>
              <input type="password" ng-model="userCreds.password" required/>
            </md-input-container>
          </div>
          <p class="form-error-msg" ng-show="loginFailure">Login Failed - Please try again, or reset your password.</p>
          <div layout="column" layout-align="center right" style="padding-top:20px;">
            <div flex>
              <md-button type='submit' class="md-raised md-primary">Login</md-button>
              <md-button type='button' ng-click="close()">Cancel</md-button>
            </div>
            <div flex="flex"></div>
            <md-button class="alt-action-btn" type="button" ng-click="showForgot()" md-no-ink="md-no-ink">
              Forgot your password?
            </md-button>
          </div>
          <md-progress-circular md-mode="indeterminate" ng-show="loginLoading"></md-progress-circular>
        </form>

    </md-content>
  </div>
</md-dialog>