<md-dialog class="login-modal"> 
  <div layout="column" class="login-modal-inner md-whiteframe-z1">
    <md-toolbar>
      <h2 class="md-toolbar-tools">Reset Your Password</h2>
    </md-toolbar>
    <md-content layout="column" class="md-padding">

      <form ng-submit="submitResetForm(data)">
        <p><strong>Email: </strong>{{ resetData.email }}</p>
        <md-input-container>
          <label>New Password</label>
          <input type="password" ng-model="data.password" required/>
        </md-input-container>
        <md-input-container>
          <label>Confirm Password</label>
          <input type="password" ng-model="data.confirmPassword" required/>
        </md-input-container>
        <div layout="row" layout-align="center center" style="padding-top:20px;">
          <md-button type="button" ng-click="close()" md-no-ink="md-no-ink">Cancel</md-button>
          <div flex="flex"></div>
          <md-button type='submit' class="md-raised md-primary">Change Password</md-button>  
        </div>
      </form>

    </md-content>
  </div>
</md-dialog>