<md-dialog id="manage-users" class="exec-list" aria-label="Manage Users">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <div flex="50" layout="row" layout-align="start">
        <h2>Manage Users</h2>
      </div>
      <div flex="50" layout="row" layout-align="end">
        <p class="close-btn material-icons" ng-click="close()">&#xE888;</p>
      </div>
    </div>
  </md-toolbar>
  <md-dialog-content layout="row" layout-wrap layout-padding>
    <div flex="100" layout="row" layout-align="end">
      <md-button ng-click="showNewUserForm = true" ng-show="!showNewUserForm" class="md-raised md-primary">
        <i class="material-icons">&#xE148;</i>
        INVITE USER
      </md-button>
    </div>
    <div ng-show="showNewUserForm" flex="100">
      <md-card>
        <md-card-content>
          <div flex="100" layout="row" layout-align="end">
            <span class="material-icons"
              ng-click="showNewUserForm = false">
              &#xE888;
            </span>
          </div>
          <form name="newUserForm" ng-submit="newUserForm.$valid && inviteUser(newUser)" layout="column">
            <md-input-container id="new-user-email-input" flex>
              <label>New User's Email</label>
              <input ng-model="newUser.email" type="email" required>
            </md-input-container>
            <md-radio-group class="md-primary" ng-model="newUser.admin">
              <label>Admin Privileges?:</label>
              <md-radio-button ng-value="true"/>Yes</md-radio-button>
              <md-radio-button ng-value="false"/>No</md-radio-button>
            </md-input-container>
            <p class="form-fail-msg" ng-show="userAlreadyExists">A user with this email address already exists.</p>
            <div flex="100" layout="row" layout-align="end">
              <md-button type="submit" class="md-raised md-primary">
                <i class="material-icons">&#xE876;</i>
               INVITE USER
              </md-button>
            </div>
          </form>
        </md-card-content>
      </md-card>
    </div>
    <div class="exec-card-header" flex="100">
      <hr/>
      <h2>USERS</h2>
    </div>
    <table class="table table-hover clickable-table table-top-margin users-table" flex="100">
        <tr ng-repeat="user in users" ng-click="showTaskDetails($event, $index)">  
          <td>{{user.username}}</td>
          <td ng-if="user.admin">ADMIN</td>
          <td ng-if="!user.admin"></td>
          <td class="button-cell">
            <button class="md-raised md-button md-default-theme delete-btn" ng-click="deleteUser($event, user._id)" flex>
              <span class="ng-scope">DELETE</span>
              <div class="md-ripple-container"></div>
            </button>
          </td>
        </tr>
    </table>
  </md-dialog-content>
</md-dialog>